<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.GestionDeRessource">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Gestion De ressource"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.GestionDeRessource.ConsultEquipment"/>
        <activity android:name="com.example.GestionDeRessource.DashUser" />
        <activity android:name="com.example.GestionDeRessource.DashAdmin" />
        <activity android:name="com.example.GestionDeRessource.AddEquipment" />
        <activity android:name="com.example.GestionDeRessource.Login" />
        <activity android:name="com.example.GestionDeRessource.SignUp" />
        <activity android:name="com.example.GestionDeRessource.EquipmentDetailsAdmin"/>
        <activity android:name="com.example.GestionDeRessource.EquipmentDetailUser"/>
        <activity android:name="com.example.GestionDeRessource.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.GestionDeRessource.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>